ans_dev
*.swp
/.bundle
/log/*.log
/log/*
tmp/
.DS_Store
public/assets/application-*
vendor/assets/javascripts/annotator.js
_archive/*
vendor/assets/javascripts/_archive/*
config/application.yml
config/database.yml
db/backups/*

# Ignore application & database configuration
/config/application.yml
vendor/assets/javascripts/_attic
vendor/assets/stylesheets/_attic
Gemfile.lock.temp
*.p12
coverage
.gitignore.rej
loadable_libraries.txt
pg_upgrade_dump_all.sql
pg_upgrade_dump_db.sql
pg_upgrade_dump_globals.sql
pg_upgrade_internal.log
pg_upgrade_restore.log
pg_upgrade_server.log
public/system
*.rej
.rvmrc
coverage/
.powenv
Gemfile.lock.rej
Gemfile.rej
app/assets/javascripts/application.js.rej
app/views/documents/index.html.erb.rej
patch.diff
.env
.idea
