/.bundle
/log/*.log
/log/*
tmp/
.DS_Store
public/assets/application-*
vendor/assets/javascripts/annotator.js
_archive/*
vendor/assets/javascripts/_archive/*
config/application.yml
db/backups/*
config/database.yml

# Ignore application configuration
/config/application.yml
public/system
*.p12
*.rej
