<%= content_for :page_title, "Sign up" %>
<%= content_for :body_id, 'registrations' %>
<%= content_for :body_class, 'new' %>


<div class="col-md-8 col-md-offset-2 signup-form">
	<%= render "/devise/sessions/sign_up" %>
</div>