<!-- groups/_permissions.html.erb -->

  <div class="panel panel-default" id="permissions-panel">
    <div class="panel-heading">
      <span class="panel-title">Group role permissions explained</span>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Members</b>: Group Members can see documents and annotations shared with the group, and can annotate those documents. They can also see who else is in the group.</li>
      <li class="list-group-item"><b>Managers</b>: Group Managers are Members who can also invite users to the group, remove users from the group, and change users' roles between Manager and Member.</li>
      <li class="list-group-item"><b>Owners</b>: Group Owners are Managers who can also delete the group.</li>
    </ul>
  </div>
