<!-- groups/_rightnav.html.erb -->
<ul class="nav navmenu-nav" id="usernav">
  <li><a href="http://support.annotationstudio.org/" target="_blank">Help <i class="fa fa-external-link-square"></i></a></li>
</ul>
