<h1> Groups </h1>

<% if params[:search] %>
	<script>
		$("#join").hide();
	</script>

<h2> Search By Name: <%= params[:search] %> </h2>

	<div class="row">
	  <% @groups.each do |g| %>
	    <div class= "column"> 
	      <span class="title"> <%= link_to g.name, group_path(id: g.id) %> <br> </span>
	      <hr>

	       <% myRole = Membership.find_by(group_id: g.id, user_id: current_user.id).role %>
	       Role: <%= myRole %> <br>

	       Owner: <%= User.find(g.owner_id).firstname %> 
	    </div>
	  <% end %>

	  </div>
<% end %>


<style>
	
	.row{
	  display:flex;
	  flex-wrap: wrap;
	}
	.column{
	  background-color: white;
	  float: left;
	  width: 17%;
	  height: 220px;
	  padding:5px;
	  margin:2% 1% 0;
	}
	.title{
	  text-overflow: ellipsis;
	  max-width: 10px;
	  overflow: hidden;
	  font-size: 16px;

	}

	.tile-content{
	  text-overflow: ellipsis;
	  overflow: hidden;
	}
</style>

