<table class="group-table">
	<tr class="group-table-row">
		<th> Name </th>
		<th> Role </th>
		<th> Actions </th>
	</tr>
		<% @groups.each do |g| %>
			<tr class="group-table-row"> 
				<td> <%= link_to g.name, :controller => "groups", :action=> "show", :id => g.id %></td>
				<td> <%= Membership.find_by(group_id: g.id, user_id: current_user.id).role %> </td> 
				<td> 
					<% unless is_owner(g.id) %>
						<%= link_to "Leave", :controller=> "groups", :action =>"leave", :id => g.id %>
					<% end %>

					<% unless is_member(g.id) %>
						<%= link_to "Edit", :controller=> "groups", :action => "edit", :id => g.id %>
					<% end %>
				</td>
			</tr>
		<% end %>
</table>

<% end %>


<style>
.group-table {
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.group-table-row:nth-child(even) {
  background-color: #ced4de;
}

#join{
	margin-bottom:40px;
}
</style>