<%= render '/shared/backbone_libraries' %>

        <ul id="annotation-list"></ul>
        <script type="text/template" id="comment-template">
            <span id="sb{{uuid}}" href="#full{{uuid}}" data-highlight="#hl{{uuid}}" rel="tooltip" title="{{username}}" class="highlightlink comment">{{{text}}}</span>
            <span id="quote{{uuid}}" class="sbquote details">&quot;{{{quote}}}&quot;</span>
            <span id="text{{uuid}}" class="sbtext details">{{{text}}}</span>
            <span id="info{{uuid}}" class="sbinfo details">{{username}}</span>
            <div id="tags{{uuid}}" class="sbtags details">{{#tags}}<span class="label label-default">{{.}}</span> {{/tags}}</div>
        </script>
        <script type="text/template" id="highlight-template">
            <span id="sb{{uuid}}" data-highlight="#hl{{uuid}}" rel="tooltip" title="{{username}}" class="highlightlink highlight sbquote">&quot;{{{quote}}}&quot;</span>
            <span id="quote{{uuid}}" class="sbquote details">&quot;{{{quote}}}&quot;</span>
            <div id="tags{{uuid}}" class="sbtags details">{{#tags}}<span class="label label-default">{{.}}</span> {{/tags}}</div>
        </script>
