 <div class="row">
  <% @joinedGroups.each do |g| %>
    <div class= "column"> 
      <span class="title"> <%= link_to g.name, group_path(id: g.id) %> <br> </span>

       <% myRole = Membership.find_by(group_id: g.id, user_id: current_user.id).role %>
       Role: <%= myRole %> <br>

       Owner: <%= User.find(g.owner_id).firstname %>
       
       
    </div>
  <% end %>

  </div>

  <div class='pagination-controls'>
      <%= will_paginate @joinedGroups, renderer: BootstrapPagination::Rails %>
    </div>