 <div class="row">
  <% @joinedGroups.each do |g| %>
    <div class= "column"> 
       <strong>Name:</strong> <%= link_to g.name, group_path(id: g.id) %> <br>
       <% myRole = Membership.find_by(group_id: g.id, user_id: current_user.id).role %>
       <strong>Role:</strong> <%= myRole %> <br>
       
       
    </div>
  <% end %>

  </div>

  <div class='pagination-controls'>
      <%= will_paginate @joinedGroups, renderer: BootstrapPagination::Rails %>
    </div>