<div class="row">

  <% @mygroups.includes(:memberships).each do |g| %>
    <div class= "column"> 
       <span class="title"> <%= link_to g.name, group_path(id: g.id) %> <br> </span>
       <br>
       
        Members: <%= g.memberships.size %> <br>


       <br>
       <br>
       <%= link_to "Edit", edit_group_path(id: g.id) %>
    </div>
  <% end %>
  </div>

  <div class='pagination-controls'>
      <%= will_paginate @mygroups, renderer: BootstrapPagination::Rails %>
    </div>
