<div class="row">

  <% @mygroups.each do |g| %>
    <div class= "column"> 
       <span class="title"> <%= g.name %> <br></span>
       <br>
       <br>
       <%= link_to "Edit", edit_group_path(id: g.id) %>
    </div>
  <% end %>
  </div>

  <div class='pagination-controls'>
      <%= will_paginate @mygroups, renderer: BootstrapPagination::Rails %>
    </div>
