<div class="span12">
	<h1><%= @user.fullname %></h1>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.4.2/mustache.min.js"></script>

	<ul id="annotation-list"></ul>
	<script type="text/template" id="comment-template">
		<span id="sb{{uuid}}" href="#full{{uuid}}" data-highlight="#hl{{uuid}}" rel="tooltip" title="{{username}}" class="highlightlink comment">{{{text}}}</span>
		<span id="quote{{uuid}}" class="sbquote details">&quot;{{{quote}}}&quot;</span>
		<span id="text{{uuid}}" class="sbtext details">{{{text}}}</span>
		<span id="info{{uuid}}" class="sbinfo details">{{username}}</span>
		<div id="tags{{uuid}}" class="sbtags details">{{#tags}}<span class="label">{{.}}</span> {{/tags}}</div>
	</script>
	<script type="text/template" id="highlight-template">
		<span id="sb{{uuid}}" data-highlight="#hl{{uuid}}" rel="tooltip" title="{{username}}" class="highlightlink highlight sbquote">&quot;{{{quote}}}&quot;</span>
		<span id="quote{{uuid}}" class="sbquote details">&quot;{{{quote}}}&quot;</span>
		<div id="tags{{uuid}}" class="sbtags details">{{#tags}}<span class="label">{{.}}</span> {{/tags}}</div>
	</script>


</div><!--/span12 -->
<%= javascript_include_tag "sidebar" %>
<script type="text/javascript" charset="utf-8">
// Bootstrap Backbone Sidebar //
var sidebar = new Sidebar.App();
Backbone.history.start({pushState: true, root: window.location})

mixpanel.people.set({
    "$email": "<%= current_user.email %>",    // only special properties need the $
    "$last_login": new Date(),         // properties can be dates...
});
mixpanel.people.identify("<%= current_user.id %>");
</script>