<ol class="breadcrumb breadcrumb-inverse hidden-xs">
<% if params[:controller] == 'documents' %>
  <% if params[:action] == 'show' && ! @document.draft?  %>
    <li class="annotations-header">Annotations</li>
  <% end %>
<% end %>
</ol>
