<div id="annotation-well" class="affix">

  <ul id="annotation-list" style="padding-left: 8px;">

    <div class="btn-group btn-group-sm" data-toggle="buttons" id="view-chooser" style="padding-top: 8px;">
      <label class="btn btn-default btn-sm viewchoice 
        <% if !params[:mine] || params[:mine] == 'true' %>
          active
        <% end %>
        " id="user">
        <input type="radio" 
        <% if !params[:mine] || params[:mine] == 'true' %>
          checked 
        <% end %>
        value="user">Mine</input>
      </label>

      <label class="btn btn-default btn-sm viewchoice
        <% if params[:mine] == 'false' %>
          active
        <% end %>" id="groupId">
        <input type="radio" 
        <% if params[:mine] == 'false' %>
          checked 
        <% end %>
        value="groupId">Groups</input>    
      </label>
      <% if current_user.has_role?(:admin) %>
      <label class="btn btn-default btn-sm viewchoice" id="admin">
        <input type="radio" value="admin">All</input>
      </label>
      <% end %>
    </div>

    <div class="btn-group btn-group-sm" data-toggle="buttons" id="filter-chooser" style="padding-top: 8px;">
      <label class="btn btn-default btn-sm active" id="allannotations">
        <input type="radio" class="btn btn-default btn-sm active" checked value="allannotations">Whole text</input>
      </label>
      <label class="btn btn-default btn-sm" id="visibleannotations">
        <input type="radio" class="btn btn-default btn-sm" value="visibleannotations">Visible text</input>
      </label>
    </div>
  </ul>

  <script type="text/template" id="comment-template">

    <span class="handle"><span class="glyphicon glyphicon-option-vertical"></span></span>
    <span id="sb{{uuid}}" href="#full{{uuid}}" data-highlight="#hl{{uuid}}" rel="tooltip" title="{{username}}" class="highlightlink comment">{{{text}}}</span>
    <span id="quote{{uuid}}" class="sbquote details">&quot;{{{quote}}}&quot;</span>
    <span id="text{{uuid}}" class="sbtext details">{{{text}}}</span>
    <span id="info{{uuid}}" class="sbinfo details">{{username}}</span>
    <div id="tags{{uuid}}" class="sbtags details">{{#tags}}<span class="label label-default">{{.}}</span> {{/tags}}</div>
  </script>


  <script type="text/template" id="highlight-template">

    <span class="handle"><span class="glyphicon glyphicon-option-vertical"></span></span>
    <span id="sb{{uuid}}" data-highlight="#hl{{uuid}}" rel="tooltip" title="{{username}}" class="highlightlink highlight sbquote">&quot;{{{quote}}}&quot;</span>
    <span id="quote{{uuid}}" class="sbquote details">&quot;{{{quote}}}&quot;</span>
    <div id="tags{{uuid}}" class="sbtags details">{{#tags}}<span class="label label-default">{{.}}</span> {{/tags}}</div>
  </script>
</div><!--/well -->
