<ul class="nav navbar-nav">
	<li class="active"><a class="navbar-link" href="#">COVE Studio</a></li>
	<li><a class="navbar-link" target="cove-editions" href="http://dev-rc-distro.pantheonsite.io/">COVE Editions <i class="fa fa-external-link-square"></i></a></li>
</ul>
