    <div class="footer">
      <div class="container">
        <p class="text-muted">
          <a class="logo" href="http://web.mit.edu/" target="_blank"><img src="/assets/logo_mit.png"></a>
          <a class="logo" href="http://hyperstudio.mit.edu/" target="_blank"><img src="/assets/hs-logo-trans-horiz.png"></a>
          <a class="logo" href="http://www.neh.gov/divisions/odh" target="_blank"><img src="/assets/neh_at_logo.png" id="neh-logo"></a>
          <span class="pull-right">&copy; <%= Time.now.year %></span>
        </p>
      </div>
    </div>
