<%= content_for :page_title, 'Cookie Policy' %>

<div class="panel panel-default">
  <div class="panel-heading"><h1>Cookie Policy</h1></div>
  <div class="panel-body">
    <h4>Last updated May 26, 2020</h4>

    <p>This Cookie Policy explains how the Active Archives Initiative at MIT (“<strong>we</strong>”, “<strong>us</strong>”, or 
    “<strong>our</strong>”) uses cookies and similar technologies to recognize you when you visit one of our websites such as 
    Annotation Studio at https://annotationstudio.org, ("<strong>Websites</strong>"). It explains what these technologies are 
    and why we use them, as well as your rights to control our use of them.</p> 
    <p>In some cases, we may use cookies to collect personal information, or that becomes personal information if we combine it 
    with other information.</p>

    <h3>What are cookies?</h3>
    <p>Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely 
    used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting 
    information.</p>
    <p>Cookies set by the website owner (in this case, Active Archives Initiative at MIT) are called "first-party cookies". Cookies 
    set by parties other than the website owner are called "third-party cookies". Third-party cookies enable third-party features 
    or functionality to be provided on or through the website (e.g. interactive content and analytics). The parties that set these 
    third-party cookies can recognize your computer both when it visits the website in question and also when it visits certain 
    other websites.</p>
    
    <h3>Why do we use cookies?</h3>
    <p>We use first- and third-party cookies for several reasons. Some cookies are required for technical reasons in order for our 
    Websites to operate, and we refer to these as "essential" or "strictly necessary" cookies. Third parties serve cookies through 
    our Websites for analytics and other purposes. This is described in more detail below.</p>
    <p>The specific types of first- and third-party cookies served through our Websites and the purposes they perform are described 
    below (please note that the specific cookies served may vary depending on the specific Online Properties you visit).</p>
    
    <h3>How can I control cookies?</h3>
    <p>You have the right to decide whether to accept or reject cookies. You can exercise your cookie rights by setting your 
    preferences in the <a href="#" onclick="displayPreferenceModal()">Cookie Consent Manager</a>. The Cookie Consent Manager allows 
    you to select which categories of cookies you accept or reject. Essential cookies cannot be rejected as they are strictly 
    necessary to provide you with services.</p> 
    <p>The Cookie Consent Manager can be found in the notification banner and on our website. If you choose to reject cookies, you 
    may still use our website though your access to some functionality and areas of our website may be restricted. You may also 
    set or amend your web browser controls to accept or refuse cookies. As the means by which you can refuse cookies through your 
    web browser controls vary from browser-to-browser, you should visit your browser's help menu for more information.</p> 
    <p>The specific types of first- and third-party cookies served through our Websites and the purposes they perform are described 
    in the table below (please note that the specific cookies served may vary depending on the specific Online Properties you 
    visit):</p> 
    
    <h3>Essential website cookies:</h3>
    <p>These cookies are strictly necessary to provide you with services available through our Websites and to use some of its 
    features, such as access to secure areas.</p>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>_AnnotationStudio_session</th>
      <tr><td>Purpose:</td> <td>Used to preserve visitors' user configurations.</td></tr>
      <tr><td>Provider:</td> <td>*.annotationstudio.org</td></tr>
      <tr><td>Service:</td> <td>Annotation Studio</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>server_cookie</td></tr>
      <tr><td>Expires in:</td> <td>session</td></tr>
    </table>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>__tlbcpv</th>
      <tr><td>Purpose:</td> <td>Used to record the cookie consent preferences of visitors.</td></tr>
      <tr><td>Provider:</td> <td>termly.io</td></tr>
      <tr><td>Service:</td> <td>Termly (<a href="https://termly.io/our-privacy-policy/">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>20 years</td></tr>
    </table>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>__tltpl_#</th>
      <tr><td>Purpose:</td> <td>Used to record the policies that visitors consent to.</td></tr>
      <tr><td>Provider:</td> <td>termly.io</td></tr>
      <tr><td>Service:</td> <td>Termly (<a href="https://termly.io/our-privacy-policy/">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>20 years</td></tr>
    </table>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>__tluid</th>
      <tr><td>Purpose:</td> <td>Assigns a random ID number to each visitor so that their policy consent and cookie consent 
        preferences can be saved.</td></tr>
      <tr><td>Provider:</td> <td>termly.io</td></tr>
      <tr><td>Service:</td> <td>Termly (<a href="https://termly.io/our-privacy-policy/">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>20 years</td></tr>
    </table>
    
    <h3>Analytics and customization cookies:</h3>
    <p>These cookies collect information that is used either in aggregate form to help us understand how our Websites are being 
    used or how effective our marketing campaigns are, or to help us customize our Websites for you.</p>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>__utmb#</th>
      <tr><td>Purpose:</td> <td>Used by Google analytics to compute the duration a website is visited using the exact time that a 
      user accesses a website. This is a HTTP cookie that expires after the session.</td></tr>
      <tr><td>Provider:</td> <td>*.annotationstudio.org</td></tr>
      <tr><td>Service:</td> <td>Google Analytics (<a href="https://policies.google.com/privacy">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>30 minutes</td></tr>
    </table>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>__utmt#</th>
      <tr><td>Purpose:</td> <td>Used to control the speed of requests to the website’s server. Expires after the session and is a 
      HTTP type cookie.</td></tr>
      <tr><td>Provider:</td> <td>*.annotationstudio.org</td></tr>
      <tr><td>Service:</td> <td>Google Analytics (<a href="https://policies.google.com/privacy">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>10 minutes</td></tr>
    </table>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>__utmc#</th>
      <tr><td>Purpose:</td> <td>The cookie registers the timestamp a user leaves a website to help calculate the duration of time 
      spent on it using Google Analytics. The cookie activity lasts during the browsing session. It is a HTTP cookie type.</td></tr>
      <tr><td>Provider:</td> <td>*.annotationstudio.org</td></tr>
      <tr><td>Service:</td> <td>Google Analytics (<a href="https://policies.google.com/privacy">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>session</td></tr>
    </table>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>#__utm.gif</th>
      <tr><td>Purpose:</td> <td>Logs the details about the visitor’s computer and browser using Google Analytics Tracking Code. 
      The cookie is a pixel tracker type and is only active during the browsing session.</td></tr>
      <tr><td>Provider:</td> <td>*.annotationstudio.org</td></tr>
      <tr><td>Service:</td> <td>Google Analytics (<a href="https://policies.google.com/privacy">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>session</td></tr>
    </table>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>__utma#</th>
      <tr><td>Purpose:</td> <td>Used by Google Analytics to record the number of times a visitor accessed the website as well as 
      the dates for the first and recent visit. It is a HTTP cookie and expires in 2 years.</td></tr>
      <tr><td>Provider:</td> <td>*.annotationstudio.org</td></tr>
      <tr><td>Service:</td> <td>Google Analytics (<a href="https://policies.google.com/privacy">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>1 year 12 months 4 days</td></tr>
    </table>

    <table class="table table-bordered table-condensed table-striped cookietable">
      <th>Name:</th> <th>__utmz#</th>
      <tr><td>Purpose:</td> <td>Uses Google Analytics to gather location details for the website visitors, the clicked link, 
      the search term, and the search engine that was used. This cookie is a HTTP type that lasts for 6 months.</td></tr>
      <tr><td>Provider:</td> <td>*.annotationstudio.org</td></tr>
      <tr><td>Service:</td> <td>Google Analytics (<a href="https://policies.google.com/privacy">view service privacy policy</a>)</td></tr>
      <tr><td>Country:</td> <td>United States</td></tr>
      <tr><td>Type:</td> <td>http_cookie</td></tr>
      <tr><td>Expires in:</td> <td>6 months 2 days</td></tr>
    </table>

    <h3>What about other tracking technologies, like web beacons?</h3>
    <p>Cookies are not the only way to recognize or track visitors to a website. We may use other, similar technologies from time 
    to time, like web beacons (sometimes called "tracking pixels" or "clear gifs"). These are tiny graphics files that contain a 
    unique identifier that enable us to recognize when someone has visited our Websites or opened an e-mail including them. This 
    allows us, for example, to monitor the traffic patterns of users from one page within a website to another, to deliver or 
    communicate with cookies, to understand whether you have come to the website from a third-party website, to improve site 
    performance, and to measure the success of e-mail marketing campaigns. In many instances, these technologies are reliant on 
    cookies to function properly, and so declining cookies will impair their functioning.</p>

    <h3>Do you use Flash cookies or Local Shared Objects?</h3>
    <p>Websites may also use so-called "Flash Cookies" (also known as Local Shared Objects or "LSOs") to, among other things, 
    collect and store information about your use of our services, fraud prevention and for other site operations.</p>

    <p>If you do not want Flash Cookies stored on your computer, you can adjust the settings of your Flash player to block Flash 
    Cookies storage using the tools contained in the 
    <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">Website Storage Settings 
    Panel</a>. You can also control Flash Cookies by going to the 
    <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager03.html">Global Storage Settings 
    Panel</a> and following the instructions (which may include instructions that explain, for example, 
    how to delete existing Flash Cookies (referred to "information" on the Macromedia site), how to prevent Flash LSOs from being 
    placed on your computer without your being asked, and (for Flash Player 8 and later) how to block Flash Cookies that are not 
    being delivered by the operator of the page you are on at the time).</p>
    
    <p>Please note that setting the Flash Player to restrict or limit acceptance of Flash Cookies may reduce or impede the 
    functionality of some Flash applications, including, potentially, Flash applications used in connection with our services or 
    online content.</p>

    <h3>Do you serve targeted advertising?</h3>
    <p>We do not serve advertising through our Services.</p>

    <h3>How often will you update this Cookie Policy?</h3>
    <p>We may update this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for 
    other operational, legal or regulatory reasons. Please therefore re-visit this Cookie Policy regularly to stay informed about 
    our use of cookies and related technologies.</p>
    <p>The date at the top of this Cookie Policy indicates when it was last updated. </p>
    
    <h3>Where can I get further information?</h3>
    <p>If you have any questions about our use of cookies or other technologies, please email us at 
    <a href="mailto:aai-info@mit.edu"><strong>aai-info@mit.edu</strong></a> or reach us by mail to:</p>
    <p>Active Archives Initiative at MIT<br />
    Massachusetts Institute of Technology, 14N-421<br />
    77 Massachusetts Ave.<br />
    Cambridge, MA 02139<br />
    United States<br />
    Phone: (617) 258-6512</p>

    <br />
    <h5>Note: This cookie policy was created with the help of Termly’s Cookie Policy Generator.</h5>

  </div>
</div>