<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
      <h1>NEW: <strong>Annotation Studio 3.0</strong> is around the corner</h1>
        <h3>Next weekend (May 30/31, 2020), we will launch a major update to Annotation Studio.</h3>
        <h3>PLEASE NOTE: Annotation Studio will be unavailable during these two days. Please contact us at <a href="mailto:annotationstudio-support@mit.edu">annotationstudio-support@mit.edu</a> if this creates a problem for you.</h3>
        <hr />
        <h4>Major changes include:</h4>
        <ul>
          <li>Completely reworked group structure with greatly enhanced flexibility in creating new groups. (The distinction between classes and groups is gone.) A guided tour will help you get familiar with the new functionality. All existing classes from previous versions will be transferred over to the new group structure.</li>
          <li>Groups now keep track of their memberships, so you can easily add or remove people from your group.</li>
          <li>Documents can now be reused by multiple groups.</li>
          <li>Further improved functionality when creating and editing new documents.</li>
          <li>New Privacy and Cookie Policies.</li>
          <li>And many more small enhancements and fixes.</li>
        </ul>
        Detailed instructions will be available on the <a href="http://support.annotationstudio.org/">support forum</a>.

        <br /><br />
        <h4>We need your support!</h4>

        As you might know, Annotation Studio has been developed with funds from the National Endowment for the Humanities (NEH) and MIT-internal support. Our goal has always been to create a flexible and easy to use educational tool for collaborative close reading and annotation and offer it free to educators and students. Over time, costs for hosting and maintenance have increased and it has been challenging to secure the necessary funds to cover the ongoing costs for running Annotation Studio, to develop updates and integrate security and bug fixes, let alone the development of new functionality.
        Therefore, we would very much appreciate your support which allows us to keep the project free for all users. For your donation, please contact us at <a href="mailto:annotationstudio-support@mit.edu">annotationstudio-support@mit.edu</a>.
        <br /><br />
        <h5>The Annotation Studio Team</h5>
        </div>
    </div>
  </div>
</div><!--/row -->