
<%#
  <div class="col-md-1 hidden-xs hidden-xs">
    <div class="affix-top" data-spy="affix" id="chapters">
      <h4><%= ENV["DOCUMENT_SECTION_STRING"] %></h4>
      <ul class="nav nav-list navbar-collapse" id="chapternav">
        <%= @document.chapters.try(:html_safe) %>
      </ul>
      <script type="text/javascript" charset="utf-8">
        /*$("#chapternav a").click(function(event){
          event.preventDefault();
          var idtarget = $(this).attr("href");
          $('html,body').animate({scrollTop: $(idtarget).offset().top}, 500);
          // $(idtarget).prepend('<i class="glyphicon-comment"></i>');
          // event.stopPropagation();
        });*/
      </script>
    </div>
  </div><!--/col-md-1 -->
%>
