<div class="modal hide fade" id="help">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Help</h3>
    <em>If your question isn't answered here, please email <a href="mailto:hyperstudio-support@mit.edu?subject=[Public Annotation Studio Help]">hyperstudio-support@mit.edu</a></em>
  </div>
  <div class="modal-body">
	<h4>Annotating</h4>
	<ul>
		<li>On any document page, you can select text from the document and you’ll see an annotate button appear.</li>
		<li>Click the button to see the annotation editor.</li>
		<li>Enter your comment, and any tags you’d like to save with the annotation.</li>
		<li>Click save, and you will see both a highlight in the text, and an annotation in the right hand sidebar list.</li>
		<li>Roll over the highlight to see the annotation viewer.</li>
		<li>Click the edit button on the top right of the viewer to edit the annotation.</li>
		<li>Make your edits and click save to save them.</li>
	</ul>
	
	<h4>Formatting within annotation comments</h4>
	<ul>
		<li>Links
			<pre><code>This is [an example](http://example.com/) inline link.</code></pre>
		</li>
	
		<li>Emphasis
			<pre><code>*single asterisks or underscores are italics*
__double asterisks or underscores are bold__</code></pre>
		</li>
	
		<li>Images
			<pre><code>![Alt text](/path/to/img.jpg)</code></pre>
		</li>
	</ul>
	<h4>Privacy	</h4>
	<ul>
		<li>In this demo, only you can see annotations you create.</li>
		<li>In private instances of the application, more nuanced permissions schemes are supported</li>
	</ul>

	<h4>Troubleshooting</h4>
	<ul>
		<li>Email. Add hyperstudio-support@mit.edu to your email contacts list so you’ll get support email from Annotation Studio.</li>
		<li>Web browser. Please be sure you are using a recent browser that can load and run javascript; Google Chrome 21, Firefox 14, Safari 6 are all free.</li>
		<li>Virus scanning software: Some virus scanning software prevents javascript from loading and/or running in web browsers. Please be sure it’s possible to run javascript on your computer.</li>
	</ul>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>