<div class="modal hide fade" id="markdown">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Markdown Syntax</h3>
    <h4>(for adding images, links, formatting to your annotations)</h4>
  </div>
  <div class="modal-body">
	<h4>Links</h4>
	<pre><code>
	This is [an example](http://example.com/) inline link.
	</code></pre>

	<h4>Emphasis</h4>
	<pre><code>
	*single asterisks or underscores are italics*

	__double asterisks or underscores are bold__
	</code></pre>

	<h4>Images</h4>
	<pre><code>
	![Alt text](/path/to/img.jpg)
	</code></pre>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>