<% if params[:action] == 'show' && ! @document.draft? %>
  <!--hide-->
<div style="display: none;">

  <div class="btn-group btn-group-sm" data-toggle="buttons" id="view-chooser">
    <label class="btn btn-default btn-sm viewchoice 
      <% if params[:mine] == 'true' %>
        active
      <% end %>
      " id="user">
      <input type="radio" 
      <% if params[:mine] == 'true' %>
        checked 
      <% end %>
      value="user">Mine</input>
    </label>

    <label class="btn btn-default btn-sm viewchoice
      <% if params[:mine] == 'false' %>
        active
      <% end %>" id="groupId">
      <input type="radio" 
      <% if params[:mine] == 'false' %>
        checked 
      <% end %>
      value="groupId">Groups</input>
    </label>
    <% if current_user.has_role?(:admin) %>
    <label class="btn btn-default btn-sm viewchoice" id="admin">
      <input type="radio" value="admin">All</input>
    </label>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm" data-toggle="buttons" id="filter-chooser">
    <label class="btn btn-default btn-sm active" id="allannotations">
      <input type="radio" class="btn btn-default btn-sm active" checked value="allannotations">Whole text</input>
    </label>
    <label class="btn btn-default btn-sm" id="visibleannotations">
      <input type="radio" class="btn btn-default btn-sm" value="visibleannotations">Visible text</input>
    </label>
  </div>
</div>
<!--hide ends-->


  <br><h4>Filter by Tags</h4>
  <div class="input-group" id="tag-chooser">
    <input type="text" id="tagsearchbox" placeholder="Enter tag(s) to filter on">
  </div><!-- /input-group -->

<!--styling of the radio selection are in boot.docs.css.scss for class view-chooser; and in bootstrap.css.erb for class btn-groupsm-->

  <% if Tenant.annotation_categories_enabled -%>
  <p><strong>How</strong> they are categorized:</p>
  <div class="btn-toolbar" id="category-chooser">
    <% AnnotationCategory.find_each do |annotation_category| -%>
    <button id="annotation_category_<%= annotation_category.id %>" type="button" class="btn btn-default btn-sm" data-annotation_category_id="<%= annotation_category.id %>" data-hex="<%= annotation_category.hex %>"><%= annotation_category.name %></button>
    <% end -%>
  </div><!-- /input-group -->
  <% end -%>
  <% if ENV["ANNOTATOR_CUSTOM_SORT"] == 'true' -%>
  <h4>Sort annotations by:</h4>
  <p><strong>How</strong> they are sorted:</p>
  <div class="btn-group btn-group-sm" data-toggle="buttons" id="sort-chooser">
    <label class="btn btn-default btn-sm viewchoice active" id="textpositionsort">
      <input type="radio" checked value="textpositionsort">Text Position</input>
    </label>
    <label class="btn btn-default btn-sm viewchoice" id="customsort">
      <input type="radio" checked value="customsort">Custom</input>
    </label>
  </div><!-- /input-group -->
  <% end %>
<% end %>
