<!-- documents/_rightnav.html.erb -->
<% if params[:action] == 'show' && !@document.nil? && ! @document.draft? %>
  <!--hide-->
  <div style="display: none;">

    <div class="btn-group btn-group-sm" data-toggle="buttons" id="filter-chooser">
      <label class="btn btn-default btn-sm active" id="allannotations">
        <input type="radio" class="btn btn-default btn-sm active" checked value="allannotations">Whole text</input>
      </label>
      <label class="btn btn-default btn-sm" id="visibleannotations">
        <input type="radio" class="btn btn-default btn-sm" value="visibleannotations">Visible text</input>
      </label>
    </div>
  </div>
  <!--hide ends-->

  <div class="close-offcanvas" data-toggle="offcanvas" data-target="#toolsmenu"><i class="glyphicon glyphicon-remove"></i></div>

  <div id="tag-chooser">
    <form>
    <br><h4>Filter by User(s)</h4>
    <p>Show all annotations by any of the following users:</p>
    <select type="select" id="usersearchbox" multiple class="ui search scrolling dropdown">
    </select>
    <button id="userclear" type="button" class="btn btn-default">Clear</button>

    <br /><br /><h4>Filter by Tag(s)</h4>
    <p>Show all annotations tagged with any of the selected tags:</p>
    <select type="select" id="tagsearchbox" multiple class="ui search scrolling dropdown">
    </select>
    <button id="tagclear" type="button" class="btn btn-default">Clear</button>
    </form>
  </div><!-- /input-group -->

  <!--styling of the radio selection are in boot.docs.css.scss for class view-chooser; and in bootstrap.css.erb for class btn-groupsm-->

  <% if Tenant.annotation_categories_enabled -%>
  <p><strong>How</strong> they are categorized:</p>
  <div class="btn-toolbar" id="category-chooser">
    <% AnnotationCategory.find_each do |annotation_category| -%>
    <button id="annotation_category_<%= annotation_category.id %>" type="button" class="btn btn-default btn-sm" data-annotation_category_id="<%= annotation_category.id %>" data-hex="<%= annotation_category.hex %>"><%= annotation_category.name %></button>
    <% end -%>
  </div><!-- /input-group -->
  <% end -%>
  <% if ENV["ANNOTATOR_CUSTOM_SORT"] == 'true' -%>
  <h4>Sort annotations by:</h4>
  <p><strong>How</strong> they are sorted:</p>
  <div class="btn-group btn-group-sm" data-toggle="buttons" id="sort-chooser">
    <label class="btn btn-default btn-sm viewchoice active" id="textpositionsort">
      <input type="radio" checked value="textpositionsort">Text Position</input>
    </label>
    <label class="btn btn-default btn-sm viewchoice" id="customsort">
      <input type="radio" checked value="customsort">Custom</input>
    </label>
  </div><!-- /input-group -->
  <% end %>
<% end %>
