<!-- documents/_status.html.erb -->

<div class="panel panel-default" id="document-status-panel">
<div class="panel-heading">
    <span class="panel-title">Document statuses explained</span>
</div>
<ul class="list-group">
    <li class="list-group-item"><i class="glyphicon glyphicon-pencil" title="draft"></i> <b>Draft</b>: Draft documents' metadata and content can be edited, but they cannot be annotated by anyone or seen by other Group members. This status is no longer available once a document is Published or Archived.</li>
    <li class="list-group-item"><i class="glyphicon glyphicon-comment" title="published"></i> <b>Published</b>: Published documents' content cannot be edited, but their metadata can. They can be annotated and seen by all Group members.</li>
    <li class="list-group-item"><i class="glyphicon glyphicon-folder-close" title="archived>"></i> <b>Archived</b>: Archived documents' content cannot be edited, but their metadata can. They can no longer be annotated by Group members, but they can be reverted to Published.</li>
</ul>
</div>
