        <section class="panel-pane pane-entity-field pane-node-body bodyFloat block" id="textcontent">
          <div class="not-block-inner not-clearfix" id="snapshot">
            <h2 class="pane-title block-title"><!-- document title --></h2>
            <div class="block-content">
              <div class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-_custom_display">
              <div class="field-items">
              <div class="field-item even" property="content:encoded">

                  <%= @document.text.html_safe %>

              </div> 
              </div> 
              </div> 
              </div> 
          </div> 
        </section> 
