<%= content_for :page_title, 'New Document' %>
<%= content_for :body_id, 'documents' %>
<%= content_for :body_class, 'new' %>
<div class="row">
    <div class="col-md-12">
      
        
        <div class="panel-body">
        <%= render :partial => 'form', :locals => {:create => true} %>
         
      </div><!--/panel-body -->
  </div><!--/col-md-12 -->
</div><!--/row -->
