<%= content_for :page_title, 'New Document' %>
<%= content_for :body_id, 'documents' %>
<%= content_for :body_class, 'new' %>
<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">Create/Edit Document</h4>
  </div>
  <div class="panel-body">
    <%= render :partial => 'form', :locals => {:create => true} %>
  </div><!--/panel-body -->

</div><!--/row -->
