<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.firstname %>, </h1>
    <p>You were added to <%= @group.name %> on Annotation Studio. </p>
  </body>
</html>