<!-- documents/_leftnav.html.erb -->
<% if params[:action] == 'show' %>
<h4>Chapters</h4>
<ul class="nav navmenu-nav" id="chapternav">
<%= @document.chapters.try(:html_safe) %>
</ul>
<script type="text/javascript" charset="utf-8">
  $("#chapternav a").click(function(event){
    event.preventDefault();
    var idtarget = $(this).attr("href");
    $('html,body').animate({scrollTop: $(idtarget).offset().top}, 500);
  });
</script>
<% end %>
