<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
</head>
<body>

<div id="catalog-reference-container">
  <h3 class="indent bottom-border">An Artwork From The Melville Electronic Library</h3>
</div>

<script type="text/javascript">

    $('document').ready(function( ) {
    });

</script>

</body>