<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "catalog", :media => "all" %>
  <%#= javascript_include_tag "application" %>
</head>
<body>

<div id="catalog-image-container">
  <!--h3 class="indent bottom-border">An Image From Melville Electronic Library</h3-->
  <div class="indent">
     <%= image_or_text @entry['image_full'] %>
  </div>
</div>

<script type="text/javascript">

    $('document').ready(function( ) {
    });

</script>

</body>