<div class="modal fade bs-example-modal-sm" id="snapshot-progress" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <h3>Creating Snapshot...</h3>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>