/*
 *= require select2
 */
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }

body.active_admin {
  @import 'select2';
  @import "font-awesome.css";
  @import "semantic-ui-transition.min";
  @import "semantic-ui-dropdown";
  @import "semantic-ui-overrides.css";

  .ui.fluid.dropdown {
    max-width: calc(80% - 45px);
    float: right;
    margin-right: 10px;
    font-size: 13px;
  }
  .ui.label {
    background-color: #eee !important;
    color: #666 !important;
    font-size: 13px !important;
    text-decoration: none;
  }
  .ui.label .delete.icon:before {
    content: "\f00d";
    font-family: fontAwesome !important;
    font-style: normal;
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    top: -1px;
  }
  .ui.dropdown .dropdown.icon:before {
    content: "\f0d7";
    font-family: fontAwesome !important;
  }
}

// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)


.annos-table tr td{
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.annos-table tr td:first-of-type {
  min-width: 200px;
  max-width: 200px;
}
.annos-table tr td:nth-of-type(2) {
  min-width: 300px;
  max-width: 300px;
}
.received-anno {
  border: 1px solid gray;
  padding: 10px;
  max-width:600px;
  background-color: white;
}