/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "bootstrap"
 *= require "font-awesome"
 *= require "bootstrap-tagsinput"
 *= require "jquery.treegrid"
 *= require "annotator.min"
 *= require "jasny-bootstrap"
 *= require "summernote"
 *= require "offcanvas"
 *= require "boot-docs"
 *= require "doc-body"
 *= require "users"
 *= require "richText-annotator.css"
 *= require "annotator.touch.css"
 *= require "annotations"
 *= require "ekko-lightbox.min"
 *= require "navbar-overrides.css"
 *= require "introjs.min"
 *= require "introjs-overrides"
 *= require "semantic-ui-transition.min"
 *= require "semantic-ui-dropdown"
 *= require "semantic-ui-overrides.css"
 *= require "summernote-overrides.css"
 *= require "klaro"
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #eee;
  padding: 120px 0 100px 0;
  margin-bottom: 60px;
}

h1 {
  font-size: 50%;
}

.container {
  max-width: 100%;
  width: auto;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}
.footer-terms {
  margin: 15px 0;
}

ol.breadcrumb {
  margin: 8px 0 0 0;
  float: left;
  font-size: 14px;
  padding: 0 15px;
  background-color: transparent;
  li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:500px;
  }
}
td {
  max-width:450px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
  img{
    min-height:30px;
    height:30px;
    max-height:30px;
    margin-left: 0;
    margin-right: 30px;
  }
}

p.help-block {
  font-style: italic;
}

table.help-block {
  display: inline-table;
  float: right;
  margin: 0 0 15px auto;
  border: 1px solid #bbb;
}

table.help-block tr th {
  font-style: italic;
  font-weight: normal;
  padding: 5px;
}

table.help-block .glyphicon.glyphicon-ok {
  color: rgb(115, 170, 115);
}

table.help-block .glyphicon.glyphicon-remove {
  color: rgb(170, 115, 115);
}

table.help-block tr th:first-child {
  font-style: normal;
  min-width:80px;
}
table.help-block tr:first-child th {
  font-style: normal;
}

table.help-block tr th:nth-child(n + 2) {
  text-align: center;
  padding-left: 30px;
}

div.draftnote {
  margin: 0 0 0 0;
  clear: both;
}

label.draftnote {
  font-weight: normal;
  padding-left: 20px;
}

div#login,
div#blurb {
  margin-top: 20px;
}

.page-header {
  margin-bottom: 10px;
}

.page-header h1 {
  font-size: 26px;
  margin-top: 30px;
}

body.index .panel {
  background-color: transparent;
}

body.index .panel-heading {
  border-bottom: 0;
}

body.index ul.nav-pills li {
  float: right;
}

ul.list-group {
  margin-bottom: 0px;
}

body.index ul.nav-pills li a:hover {
  background-color: #fff;
}

body.index .table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
}

body#sessions.new {
  padding-top: 50px;
}

ul#account-management-links li.list-group-item {
  background-color: #f5f5f5;
}

#tag-chooser > span.input-group-btn {
  top: -2px;
}

#dashboard-documents,
#dashboard-annotations {
  img {
    margin: 3px;
    width: 300px;
    max-height: 500px;
  }

  iframe {
    margin: 3px;
    width: 300px;
    height: 225px;
  }
}

#globalnav {
  img {
    margin-top: -8px;
    color: #ccc;
  }
  li.header-logo {
    a {
      color: #aaa;
    }
    display: inline-block;
    max-height: 50px;
    font-family: sans-serif;
    font-variant-caps: small-caps;
    font-size: 1.4em;
    font-weight: lighter;
  }
  li.divider {
    margin-top: 12px;
    color: #fff;
  }
}

.chapterButton {
  background-color: #dddee7;
  padding: 7px;
  border-radius: 3pt;
  font-weight: normal;
}

.metadataStyle {
  padding: 12px;
  padding-top: 5px;
}

.document-meta-wrapper {
  display: grid;
  grid-gap: 5px;
  /* Space between items */
  grid-template-columns: 1fr 1fr;
  /* Decide the number of columns and size */
}

.document-meta-section {
  display: flex;
  flex-direction: column;
}

.document-form-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 2;
}
.document-form-buttons a {
  margin-left: 5px;
}

#author-column {
  min-width: 150px;
}

#button-column {
  min-width: 114px;
}

#screenshot-thumb {
  float: right;
  width: 250px;
  margin: 15px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}



.panel.devise h4 {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.signup-form{
  margin-top:-20px;
}

.cookietable th:first-of-type{
  width: 130px;
}

.btn-file {
  min-width: 80px;
}

.btn.fileinput-exists {
  min-width: 80px !important;
}

.fileinput-filename {
  margin-left: 20px;
}

.note-editor .modal {
  z-index: 2100;
}