/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "bootstrap"
 *= require "font-awesome"
 *= require "bootstrap-tagsinput"
 *= require "annotator.min"
 *= require "jasny-bootstrap"
 *= require "summernote"
 *= require "offcanvas"
 *= require "boot-docs"
 *= require "users"
 *= require "richText-annotator.css"
 *= require "annotator.touch.css"
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /*height: 100%;*/
  background-color:#eee;
  padding: 100px 0 0 0;
  margin-bottom: 60px;
}

h1 {
  font-size: 50%;
}

.container {
  max-width: 100%;
  width: auto;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.breadcrumb {
  margin: 8px 0 0 0 !important;
  float:left;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

p.help-block {
  font-style: italic;
  margin-top:10px;
}

div#login, div#blurb {
  margin-top:20px;
}

#mainalerts {
  margin-top:20px;
  margin-bottom:0;
}

.page-header {
  margin-bottom: 10px;
}

.page-header h1 {
  font-size: 26px;
  margin-top: 30px;
}

body.index .panel {
  background-color: transparent;
}

body.index .panel-heading {
  border-bottom: 0;
}

body.index ul.nav-pills li a:hover {
  background-color: #fff;
}

body.index .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
}
