/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "bootstrap"
 *= require "font-awesome"
 *= require "bootstrap-tagsinput"
 *= require "jquery.treegrid"
 *= require "annotator.min"
 *= require "jasny-bootstrap"
 *= require "summernote"
 *= require "offcanvas"
 *= require "boot-docs"
 *= require "doc-body"
 *= require "users"
 *= require "richText-annotator.css"
 *= require "annotator.touch.css"
 *= require "annotations"
 *= require "ekko-lightbox.min"
 *= require "navbar-overrides.css"
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color:#EFEFEF;
  padding: 100px 0 100px 0;
  margin-bottom: 60px;
}

h1 {
  font-size: 50%;
}

.container {
  max-width: 100%;
  width: auto;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

ol.breadcrumb {
  margin: 8px 0 0 0;
  float:left;
  font-size: 14px;
  padding: 0 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

p.help-block {
  font-style: italic;
  margin-top:10px;
}

div.form-group {
  margin-top: 20px;
}

table.help-block {
  display: inline-table;
  float: right;
  margin: 0 0 0 auto;
  border: 1px solid #BBB;
}

table.help-block tr th {
  font-style: italic;
  font-weight: normal;
  padding: 5px;
}

table.help-block .glyphicon.glyphicon-ok {
  color: rgb(115, 170, 115);
}

table.help-block .glyphicon.glyphicon-remove {
  color: rgb(170, 115, 115);
}

table.help-block tr th:first-child {
  font-style:normal;
}
table.help-block tr:first-child th {
  font-style:normal;
}

table.help-block tr th:nth-child(n+2) {
  text-align:center;
  padding-left:30px;
}

div.draftnote{
  margin: 30px 0 10px 0;
  clear:both;
}
label.draftnote{
  text-align: justify;
  font-weight: normal;
  padding-left: 20px;
}


div#login, div#blurb {
  margin-top:20px;
}

#mainalerts {
  margin-top:20px;
  margin-bottom:0;
}

.page-header {
  margin-bottom: 10px;
}

.page-header h1 {
  font-size: 26px;
  margin-top: 30px;
}

body.index .panel {
  background-color: transparent;
}

body.index .panel-heading {
  border:none;
  }

body.index ul.nav-pills li a:hover {
  background-color: #fff;
}

body.index .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
}

body#sessions.new {
  padding-top: 50px;
}

ul#account-management-links li.list-group-item {
  background-color: #f5f5f5;
}

img#neh-logo {
  max-height: 50px;
  padding: 0;
  margin: 0;
}

#tag-chooser > span.input-group-btn {
  top: -2px;
}

#dashboard-documents, #dashboard-annotations {
  img {
    margin: 3px;
    width: 300px;
    max-height: 500px;
  }

  iframe {
    margin: 3px;
    width: 300px;
    height: 225px;
  }
}

#globalnav {
  img {
    margin-top: -8px;
    color: #ccc;
  }
  li.header-logo {
    a {
      color: #aaa;
    }
    display: inline-block;
    max-height: 50px;
    font-family: serif;
    font-variant-caps: small-caps;
    font-size: 1.4em;
    font-weight: lighter;
  }
  li.divider {
    margin-top: 12px;
    color: #fff;
  }
}

.chapterButton{
  background-color:#DDDEE7;
  padding:7px;
  border-radius: 3pt;
  font-weight:normal;
}



.metadataStyle{
  background-color:white;
  padding:12px;
  padding-top:5px;

}

.left{
  width:62%;
  float:left;
}

.right{
  width:35%;
  backgrond-color:white;
  float:right;

}

.clearFloat{
  clear:both;
}


