/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "redactor-rails"
 *= require "bootstrap_and_overrides"
 *= require "bootstrap.min"
 *= require "annotator.min"
 * require "annotorious"
 *= require "annotator.touch"
 *= require "boot-docs"
 *= require "users"
 *= require visualsearch-datauri
 * require visualsearch
*/

footer {
	margin-top:20px;
}

h1 {
	font-size: 70%;
}

body {
	background-color:#eee;
}

// Document edit form.
.redactor_editor {
	height: 200px;
	width: 1000px;
}

p.help-block {
	font-style: italic;
	margin-top:10px;
}

div#login, div#blurb {
	margin-top:20px;
}
