/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "bootstrap"
 *= require "bootstrap-theme"
 *= require "font-awesome"
 *= require "bootstrap-tagsinput"
 *= require "annotator.min"
 *= require "jasny-bootstrap"
 *= require "summernote"
 *= require "boot-docs"
 *= require "users"
 *= require "richText-annotator.css"
 *= require "jquery.ui.all"
 *= require "offcanvas"
 *= require "annotator.touch.css"
*/

footer {
  margin-top:20px;
}

h1 {
  font-size: 70%;
}

body {
  background-color:#eee;
  padding-top: 60px;
}

p.help-block {
  font-style: italic;
  margin-top:10px;
}

div#login, div#blurb {
  margin-top:20px;
}
