/* Add additional stylesheets below
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6, blockquote {
	font-family: "source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}

body {
	background-color: #eee;
}

pre {
	font-family: "source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	display: block;
	padding: 12px;
	background-color: #fff;
	border: none;
	background-color: #fff;
	border: 0px solid #ccc;
	border: 0px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

div#textcontent {
  margin-top: 30px;
	font-family: "calluna";
	padding: 60px;
	background-color: #fff;
	-webkit-box-shadow: 0px 6px 6px 6px #ddd;
			box-shadow: 0px 6px 6px 6px #ddd;
}

#textcontent a[name] {
	position:relative; top:-100px;
}

#textcontent h4 {
	padding-top:40px;
}

#document-title {
	margin-top:40px;
	z-index:1010;
}

#document-title h2 {
	position:relative;
	top:30px;
	display:inline;
}

#document-title h4 {
	display:inline;
	margin:20px 160px 20px 0;
}


#doctit {
	cursor: pointer;
}

.annotator-filter{
	margin-top: 4px;
}

.highlightlink.comment {
	font-family: "source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	display: block;
	width:95%;
	height:1.6em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.highlightlink.comment img{
	max-width:100px;
}

.sbtext, .sbinfo, .sbtags {
	display: block;
	border-top: 1px solid #ccc;
	padding-bottom: 10px;
	font-family: "source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
}

.sbquote {
	font-family: "calluna";
}

.details {
	background-color: #fff;
}

li.annotation-item.focuswhite {
	background-color:#fff;
}

#annotation-well {
	width:360px;
	height:85%;
	padding:0 15px;
  margin-top: 30px;
	overflow:auto;
  li.annotation-item {
    a.catalog-popup {
      display: inline-block;
      outline: none;
    }
  }
  img {
    margin: 3px;
    width: 300px;
    max-height: 500px;
  }
  
  iframe {
    margin: 3px;
    width: 300px;
    height: 225px;
  }
  
}

#annotation-well ul#annotation-list li span.label, #annotation-well ul#annotation-list li span.badge {
	color: #fff;
	font-family: "source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 400;  
}

.text_area {
	width:400px;
	height:300px;
}

p.notice, p.alert {
	display: none;
}

a.logo {
  float: left;
	display: inline-block;
  margin: -10px 10px 10px 20px;
}

a.logo img {
	max-height:30px;
	margin-top: 5px;
}

.chapter, .chapter p {
	font-size: 1.1em;
	line-height: 2em;
	color:#000;
}

a.texttitle {
	font-size: 1.1em !important;
	font-weight: bold !important;
}

.chapter h4 {
	color:#000;
	margin-top:40px;
	font-size: 18px;
	font-weight: bold;
}

#annotation-well a.trigger {
	float:right;
	display:inline;
	margin-top:5px;
}

.annotator-widget img {
	max-width:150px;
	display:inline;
}

#annotation-well ul#annotation-list {
	position: relative;
	margin: 0;
	padding: 0;
	width: 360px;
	height: 90%;
  float: left;
	left: 22.5%;
	list-style: none;
	margin-left: -22.5%;
}

#annotation-well ul#annotation-list li {
	font-size: 12px;
	font-style: normal;
  width: 340px;
	font-weight: 400;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	padding: 2px 5px;
	margin: 4px 0 0 0;
	color: #868686;
	-webkit-border-radius: 4px;
			border-radius: 4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}

div.okfnyellow {
	background-color: rgba(255, 255, 10, 0.3);
	border: 1px solid #999;
    width:10px;
    height:10px;
	padding: 0;
	margin: 0;
}

span.mycolor {
  background-color: rgba(10, 255, 255, 0.3);
}

.highlightlink.highlight {
	display: block;
	width:100%;
	height:1.6em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sorting_on .highlightlink.highlight {
  display: inline-block;
  width: 95%;
}

span.highlightborder {
	border-left: 5px solid #F00;
}

#annotation-well ul#annotation-list li:hover {
/*	background-color: #ddd;*/
}

#annotation-well ul#annotation-list li.hover {
/*	background-color: #ddd;*/
}


#annotation-well ul#annotation-list li span {
	text-decoration:none;
	color: #111;
}
#annotation-well ul#annotation-list li span.handle {
	display: none;
	opacity: 0.1;
}
#annotation-well ul#annotation-list.sorting_on li span.handle {
	display: block;
	float: left;
	margin-right: 4px;
}
#annotation-well ul#annotation-list li span.handle:hover {
	cursor: pointer;
	opacity: 1.0;
}

#annotation-well ul#annotation-list li.selected,
.annotator-hl.selected {
	color: #5b4001;
	background-color: #fadb3b;
}


@media (max-width: 767px) {
    .sidebar-nav {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav {
        top:70px;
    }
}

/* Subnav */
#chapters {
	width:240px;
	margin-top:60px;
	height:85%;
	overflow:auto;
}

#chapters a {
	color:#000;
	font-family: "source-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height:1.1em;
}


#chapters li.active a {
	color:#fff;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020;
    border-color: #d5d5d5;
    border-width: 0 0 1px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  #chapters .nav > li:first-child > a,
  #chapters .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}


.control-group .controls {
	margin-top:5px;
}

#view-chooser {
	margin-bottom:10px;
	label.active {
		background-color: #444;
	    color: white;
	}
}

#filter-chooser {
    margin-bottom:10px;
    label.active {
		background-color: #444;
	    color: white;
	}
}

.popover.bottom .arrow:after {
  margin-left: -1px;
}

footer {
	padding-top:10px;
	border-top:1px solid #ddd;
}

#processed_message {
	margin-top:60px;
	margin-bottom:-40px;
}

#survey_button_container {
  margin-top:30px;
  margin-bottom:-20px;
}

#category-chooser button.btn-default:focus {
  background-color: #FFF;
  outline: none;
}
