/* Document title overflow CSS */

.document-title-overflow {
  display: inline-block;
  width: 370%;
  overflow-x: scroll;
  padding-bottom: 8px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
