// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#catalog-container, #catalog-image-container, #catalog-reference-container {
  //width: 50%;
  margin-top: -60px;

  #new-search-panel {

    #button-block {
      padding-top: 5px;
    }

    #search-container {

      #search-term {
        margin-left: 10px;
        width: 50%;
        padding-right: 5px;
      }

      #search-button {
        background-color: #006dcc;
        color: #fff;
      }
    }
  }

  #browse-panel {
    padding-top: 5px;
    width: 30%;

    .list-group-item {
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 12px;
    }

    .icon {
      font-size: 10px;
    }
  }

  #results-panel {
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 65%;
  }

  // general helper classes
  .indent {
    margin-left: 20px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .block {
    display: inline-block;
  }

  .bottom-border {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}
