// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 100px 0 100px 0;
}

#document-text, #document-chapters {
	textarea {
		height: 200px;
		width: 800px;
	}
}

.help-block {
	font-variant:italic;
	margin-top:10px;
}

#annotation-well {
  // margin-top: 50px;
}

.nav > li {
  color: whitesmoke;
}

.doc-set-footer {

  height: 80px;

  .create-new-button {  
    margin-top: 10px;
  }
  
  .pagination-controls {
    float: right;
    margin-right: 10px;
    margin-top: -10px;
  }  
  
}

#visualizer {
	position: fixed;
	margin-top: 30px;
	margin-left: -20px;
	width: 20px;
	height: 70%;
	background-color: #FFFFFF;
}

.vis-marker {
	position: absolute;
	background-image: url("annotation-density.png");
	height: 20px;
	width: 20px;
}

.vis-blocker {
	width: 20px;
	position: absolute;
	background-color: #000000;
	opacity: 0.06;
}