// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 100px 0 100px 0;
}

#document-text, #document-chapters {
	textarea {
		height: 200px;
		width: 800px;
	}
}

.help-block {
	font-variant:italic;
	margin-top:10px;
}

#annotation-well {
  // margin-top: 50px;
}

.nav > li {
  color: whitesmoke;
}
