// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 120px 0 100px 0;
}

#document-text, #document-chapters {
	textarea {
		height: 200px;
		width: 800px;
	}
}

.help-block {
	font-variant:italic;
	margin-top:10px;
}


.nav > li {
  color: whitesmoke;
}

.doc-set-footer {

  height: 80px;

  .create-new-button {
    margin-top: 10px;
  }

  .pagination-controls {
    float: right;
    margin-right: 10px;
    margin-top: -10px;
  }

}

#tool-sidebar {
  padding-top: 30px;
  a {
    margin-bottom: 10px;
  }
}

#rightburger.navbar-switch{
  margin-top:10px;
  margin-right:-16px;
}

.navbar-toggle {
  background-color: none;
  border: none;
  color: #337ab7;
  font-weight: normal;
  padding: 5px 0 0 0;
  &:hover{
    color: #23527c;
    cursor: pointer;
    text-decoration: underline;
  }
  .fa-circle {
    color:gold;
    text-shadow: 0px 0px 1  px #444;
    opacity: 0%;
    font-size:8px;
    vertical-align: top;
  }
  .bi-info-square{
    font-size: 24px;  
  }
  .bi-filter{
    margin-right: 3px;
    font-size: 18px;
    margin-top: -3px;
  }
}

.navbutton-pushed{
  color: #23527c;
}
.annotations-header{
  padding-top: 16px;
  padding-left: 8px;
}