.user-highlight {
    font-style: italic;
}

#annotation-list li {
    margin:0 8px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
#annotation-list {
    border: 1px solid #dddddd;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
