.navmenu {
  padding-top: 120px;
  margin: 60px 0;
}

.navmenu-inverse, .navbar-inverse, .footer-inverse {
  background-color: #333;
}

.navbar-inverse .navbar-toggle {
  border-color: #777;
  color: #777;
}

.navbar {
  display: block;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
  float: left;
  font-size: 2em;
}

#lower-navbar {
  top: 50px;
  border-width: 0 0 1px;
}

.nav-tabs.nav-tabs-xs {
  margin-top: 5px;
}

.nav-tabs.nav-tabs-xs > li > a {
  font-size: 12px;
}

.label {
  padding-left: 3px;
  padding-right: 3px;
}

/* Extra small */
.nav-tabs.nav-tabs-xs > li > a {
  padding: 4px 15px;
}


#leftburger {
  float: left;
  margin-left: 0;
}

#rightburger {
  float: right;
  margin-right: 0;
}

body .navbar button#leftburger,body .navbar button#rightburger {
	display: none !important; /* don't show this until it has some functionality */
}

body#documents.show .navbar button#leftburger,body#documents.show .navbar button#rightburger {
	display: block !important; /* show the nav on the document edit page, only. */
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .navmenu {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 50px 0 0 0;
  }
}

#toolsmenu {
  padding: 40px;
  padding-top: 60px;
}

#mainmenu {
  padding: 40px;
  padding-left: 20px;
  padding-top: 60px;
}

.navmenu h4, .navmenu p {
  color: #999;

}

.navmenu strong {
  color: #ccc;

}

#userfilter, #viewportfilter {
  display: inline-block;
}

.secondary-text {
	color: #888888;
	font-size: 12px;
}

.menu-button {
	border: none;
	background: transparent;
	color: #9d9d9d;
	padding-top: 15px;
	padding-bottom: 15px;
}

.home-image {
	z-index: -1;
	overflow: hidden;
}

.home-image img {
	width: 100%;
}

.well.devise {
	width: 360px;
	padding-top: 0;
}

.well.devise h4 {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin-top: 0;
}

.dropdown-menu-right {
	padding-top: 0;
}

#navbar {
	z-index: 2000;
}

ol.breadcrumb.second-line {
	margin: 4px 0 0 0;
	position: relative;
}

.second-line li:last-child {
	position: absolute;
	text-align: left;
	left: 6px;
	white-space: nowrap;
}

.second-line li:last-child:before {
	content: "";
}

.cancel-password-fields {
	margin-top: 8px;
}