.navmenu {
  padding-top: 70px;
  /*margin-bottom: 60px;*/
}

.navmenu-inverse {
  background-color: #333;
}

.navbar {
  display: block;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
  float: left;
}

#lower-navbar {
  top: 50px;
  border-width: 0 0 1px;
}

.nav-tabs.nav-tabs-xs {
  margin-top: 5px;
}

.nav-tabs.nav-tabs-xs > li > a {
  font-size: 12px;
}

.label {
  padding-left: 3px;
  padding-right: 3px;
}

/* Extra small */
.nav-tabs.nav-tabs-xs > li > a {
  padding: 4px 15px;
}


#leftburger {
  float: left;
  margin-left: 15px;
}

#rightburger {
  float: right;
  margin-right: 15px;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .navmenu {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 50px 0 0 0;
  }
}

#toolsmenu {
  padding: 40px;
  padding-top: 100px;
}

.navmenu h4, .navmenu p {
  color: #999;

}

.navmenu strong {
  color: #ccc;

}

#userfilter, #viewportfilter {
  display: inline-block;
}
