.user-highlight {
	font-style: italic;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs > li.active {
  border-bottom: 1px solid #fff;
  z-index: 10;
}

.note-toolbar-wrapper.panel-default {
  margin-top: 0;
}
.note-popover .popover-content, .panel-heading.note-toolbar{
  z-index:2;
}

.panel-heading{
  position: relative;
}

#groups-tour{
  position: absolute;
  right: 15px;
  top: 5.5px;
}

