.user-highlight {
	font-style: italic;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs > li.active {
  border-bottom: 1px solid #fff;
  z-index: 10;
}

.panel-default {
  margin-top: 30px;
}

.note-toolbar-wrapper.panel-default {
  margin-top: 0;
}
