<div class="alert alert-info">
	<p><strong>Technical Requirements</strong></p>
	<p>Annotation Studio has been designed and built using features of Javascript, CSS and HTML that are available only in recent versions of common web browsers. The following are all free and mostly run on most major computer operating systems:
		<ul>
			<li><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><strong>Chrome 25 and up</strong></a></li>
			<li><a href="http://support.apple.com/downloads/#safari" target="_blank"><strong>Safari 6 and up</strong></a></li>
			<li><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><strong>Firefox 19 and up</strong></a></li>
		</ul>
		</p>
	<p>We recommend Chrome. There are many other browsers on which Annotation Studio does not work.</p>
	<p>Please be sure that <a href="http://www.enable-javascript.com/" target="_blank">javascript is enabled</a> in your browser, and that if you have virus scanning software, it is not blocking javascript.</p>
	<p>We are experimenting with support for iOS and Android smartphone and tablet browsers, but support for those platforms is not yet mature.</p>
</div>
