<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your Annotation Studio account by clicking the link below:</p>

<p><%= link_to 'Confirm my account', multitenant_domain + confirmation_path(@resource, :confirmation_token => @token) %></p>

