<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your Annotation Studio password. You can do this through the link below.</p>

<% protocol = Rails.application.config.default_email_link_protocol %>
<% tenant = Tenant.where(database_name: Apartment::Tenant.current).first %>
<% if tenant %>
  <% multitenant_domain = protocol + "://" + tenant.domain %>
<% else %>
  <% multitenant_domain = protocol + "://" + ENV['EMAIL_DOMAIN'] %>
<% end %>

<p><%= link_to 'Change my password', multitenant_domain + edit_password_path(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>
